@import "tailwindcss";

@theme {
  --font-sans: "Kumbh Sans", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-white: #fff;
  --color-black: #000;

  --color-yellow-55: #ffd71a;
  --color-yellow-60: #ffed33;
  --color-yellow-70: #ffe566;
  --color-yellow-80: #ffed99;
  --color-yellow-90: #fff5cc;
  --color-yellow-95: #fffae5;
  --color-yellow-97: #fffdf0;
  --color-yellow-99: #fffefe;

  --color-dark-08: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-25: #404040;
  --color-dark-30: #4d4d4d;
  --color-dark-35: #595959;
  --color-dark-40: #666666;
  --color-grey-50: #7f7f81;
  --color-grey-60: #99999a;
  --color-grey-70: #b3b3b3;
  --color-grey-80: #cccccc;
  --color-grey-90: #e6e6e7;
  --color-grey-95: #f3f3f3;
  --color-grey-97: #f7f7f8;
  --color-grey-99: #fcfcfc;
}

@layer components {
  .padding-x {
    @apply px-4 md:px-[30px] lg:px-[40px] xl:px-[80px] 2xl:px-[160px];
  }

  .dropdown-item {
    @apply block hover:bg-zinc-700/80 transition px-3 py-1 rounded-md cursor-pointer whitespace-nowrap w-full;
  }

  .submit-button {
    @apply flex w-full justify-center rounded-md bg-yellow-55 px-3 py-1.5 text-sm/6 font-semibold shadow-xs hover:bg-yellow-60 cursor-pointer focus:outline-2  focus:outline-offset-2 focus:outline-indigo-600 text-black;
  }

  .small-text {
    @apply text-grey-50 text-sm md:text-base xl:text-lg;
  }

  .post-btn {
    @apply border border-zinc-700 bg-zinc-800 px-3 py-1 min-w-[70px] flex items-center justify-center gap-2 rounded-full text-gray-300;
  }

  .input {
    @apply block w-full rounded-md bg-white/90 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-zinc-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6;
  }

  .label {
    @apply block text-sm/6 font-medium text-white;
  }

  .group {
    @apply flex flex-col gap-2;
  }

  .editor-toolbar button:hover {
    @apply bg-zinc-200 text-black;
  }

  .editor-toolbar .active {
    @apply bg-yellow-55! text-black;
  }

  .fullscreen button {
    @apply bg-white text-black;
  }

  .blog-button {
    @apply border border-zinc-700 px-4 py-1 rounded-lg hover:bg-zinc-800 transition cursor-pointer flex items-center gap-2;
  }
}

.prose {
  max-width: 100ch;
  color: rgb(236, 236, 236);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: black;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.prose p,
.prose ul,
.prose ol,
.prose blockquote,
.prose code {
  color: rgb(42, 42, 42);
  margin-bottom: 1em;
}

.prose a {
  text-decoration: underline;
  color: rgb(0, 29, 244);
}

.prose code,
.prose pre {
  background: rgb(199, 197, 197);
  padding: 5px;
  border-radius: 5px;
  overflow-x: auto;
}

.prose blockquote {
  border-left: 4px solid rgb(199, 197, 197);
  padding-left: 5px;
  font-style: italic;
}

.prose-invert {
  color: white;
  max-width: 200ch;
}

.prose-invert h1,
.prose-invert h2,
.prose-invert h3,
.prose-invert h4,
.prose-invert h5,
.prose-invert h6 {
  color: white;
}

.prose-invert p,
.prose-invert ul,
.prose-invert ol,
.prose-invert blockquote,
.prose-invert code {
  color: rgb(208, 208, 208);
  margin-bottom: 1em;
}

.prose-invert code,
.prose-invert pre {
  background: rgb(171, 170, 170);
  color: black;
}
